input[type="text"]{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 14px;
    margin-top: 40px;
}
.intro{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
}
.img:hover{
    transition: 1s;
    transform: rotate(360deg);
    border: 5px double black;
    border-radius: 150px;
    box-shadow: 0.5 turquoise ;
    filter: grayscale(0);
}
.img{
    text-align: center;
    filter: grayscale(100%);
    margin-left: 550px;
    margin-top: 100px;
    border: 5px double black;
    border-radius: 100px;
}
.home{
    background-color: red;
    border: 2px double black;
    border-radius: 8px;
    color: black;
    margin-right: 100px;

}
.line{
    width: 450px;
    height: 400px;
    background-color:transparent;
    margin-left: 500px;
    margin-top: 150px;
    border-radius: 100px;
    border: 5px solid black;

}
body{
    background-color:darkviolet;
}
.name{
    margin-left: 20%;
    margin-top: 500px;
}
.email{
    margin-left: 20%;
    margin-top: 50%;
}
.msg{
    margin-left: 17%;
    margin-top: 50%;
}
button{
    margin-left: 200px;
    margin-top: 40px;
}
.contact{
    background-color: black;
    clear: left;
    color: aliceblue;
    padding: 1px 15px 1px 10px;
    border-radius: 5px;
    margin: 25px 50px 20px 50px;
}
@media screen and (max-width:1200px) {
    .line{
        width: 400px;
        margin-left: 5px;
    }
    .img{
        margin-left: 10px;
    }
    .body{
        justify-content: center;
        align-items: center;
    }
    .Submit{
        margin-left: 180px;
    }
    
}